{% extends '::base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block body -%}
    <h1>Item edit</h1>
    <div class="form-group" role="group" aria-label="...">
        <a href="{{ path('item') }}" class="btn btn-primary">Back to the list</a>
        {{ form(delete_form) }}
    </div>

    {{ form(edit_form) }}

{% endblock %}
