{% extends '::base.html.twig' %}

{% block body -%}
    <h2 class="sub-header">Item List</h2>


    <div class="table-responsive">
        <div class="btn-group" role="group" aria-label="...">
            <a href="{{ path('item_new') }}" class="btn btn-primary">Create a new entry</a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Item Name</th>
                <th>Item Code</th>
                <th>Stock Count</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('item_edit', { 'id': entity.itemId }) }}">{{ entity.name }}</a></td>
                    <td>{{ entity.itemCode }}</td>
                    <td>{{ entity.stockCount }}</td>
                    <td>
                        <a href="{{ path('item_edit', { 'id': entity.itemId }) }}" class="btn btn-info btn-sm">Edit</a>
                        {{ form(delete_form.setAction( path('item_delete', { 'id': entity.itemId }) ).getForm().createView()) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="btn-group" role="group" aria-label="...">
        <a href="{{ path('item_new') }}" class="btn btn-primary">Create a new entry</a>
    </div>

{% endblock %}
