{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body -%}
    <h1>Item creation</h1>
    <div class="form-group">
        <a href="{{ path('item') }}" class="btn btn-primary">
            Back to the list
        </a>
    </div>

    {{ form(form) }}

{% endblock %}
