{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% if title is defined %} {{ title }} {% else %} Item Stock List! {% endif %}</h1>

    <div class="table-responsive">
        <div class="btn-group" role="group" aria-label="...">
            <a href="{{ path(path_new_entry) }}" class="btn btn-primary">Create a new entry</a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Item Name</th>
                <th>Supplier Name</th>
                <th>Count</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td><a href="{{ path('item_edit', { 'id': entity.item.itemId }) }}">{{ entity.item.name }}</a></td>
                    <td>{{ entity.supplierName }}</td>
                    <td>{{ entity.count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="btn-group" role="group" aria-label="...">
        <a href="{{ path(path_new_entry) }}" class="btn btn-primary">Create a new entry</a>
    </div>
{% endblock %}
